.infinite {
    animation-iteration-count: infinite;
    animation-name: zoomInfinite;
    animation-timing-function: ease-in-out;
  }
  
  @keyframes zoomInfinite {
    from {
      transform: 0;
    }
    to {
      transform: scale(1.1);
    }
  }
  
  .zoom {
    animation: scale 2s linear infinite;
  }
  @keyframes scale {
    10% {
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
      transform: scale(1.1);
    }
  }