#bismillah {
    background-image: url("../assets/SuciRyan/ayat.jpg");
}

#vikaAyat {
    background-image: url("../assets/VikaKevin/bgDoa.jpg");
}

#vikaDoa {
    background-image: url("../assets/VikaKevin/bgMahaSuci.jpg");
}